/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
.DS_Store
/target
/.nrepl-port
/dev-resources/550d.CR2
/dev-resources/Canon PowerShot SX260 HS.JPG
/dev-resources/iphone 12.HEIC
/dev-resources/r6.CR3
/deploy.sh
